button,
div,
form,
input {
	margin: 15px;
}

.container {
	float: left;
}


h1 {
	font-family: 'Bangers', cursive;
	color: white;
	text-align: center;
	font-size: 100px;
  
}

.navbar {
	background-image: url("../images/BackgroundOne.png");
	background-size: cover;
}

main {

	background: url("../images/bg2.png");
	opacity: 0.90;
	filter: alpha(opacity=50); 
	height: 1000px;
	margin-top: -20px;
}

#searchBtn {
	margin-bottom: none;
}
