button,
div,
form,
input {
	margin: 15px;
}

.container {
	float: left;
}

h1 {
	font-family: 'Bangers', cursive;
	color: white;
	text-align: center;
	font-size: 100px;
  
}

.navbar {
	background-image: url("../images/BackgroundOne.png");
	background-size: cover;
	padding: 48px;
	/* border: 3px solid rgb(177, 18, 18); */

	/* Removes the rounded edges from the navbar */
	-webkit-border-radius: 0; 
	-moz-border-radius: 0;
	border-radius: 0;
}

main {
	background-color: black;

	/* background: url("../images/bg1.png"); */
	/* opacity: 0.90;
	filter: alpha(opacity=90);  */

	height: 1000px;
	margin-top: -20px;
}

#searchBtn {
	/* Changes the background color and text of the button
	background-color:#000000;
	color: white; */

	margin-left: -20px;
}

main {
	color: rgb(179, 22, 22);
}
